SQLAlchemy>=1.0
Flask==1.1.2
flask-login==0.5.0
pyyaml==3.1.2
twisted==16.0.0
feedparser<6.0.0
service_identity
requests>=2.4.2
alembic==0.8.2dev0
subprocess32==3.5.4
cfscrape
Flask-Mail==0.9.1
colorthief
sender
raven
bleach
