SQLAlchemy>=1.0
Flask==1.1.2
flask-login==0.5.0
pyyaml==3.12
twisted==16.0.0
feedparser<6.0.0
service_identity==16.0.0
requests>=2.4.2
alembic
subprocess32==3.5.4
cfscrape==2.1.1
Flask-Mail==0.9.1
colorthief==0.2.1
sender==0.3
raven
bleach==3.2.1
